<!DOCTYPE html> 
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trabajando con Angular JS</title>
    
    <!--cargando librerias de Angular JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <h1>Ejemplo Angular JS</h1>
    <div ng-app="myApp" ng-controller="myCtrl">
        <form novalidate>
            nombre: <input type="text" ng-model="user.nombre">
            <br>
            apellido: <input type="text" ng-model="user.apellido">
            <br>
            <button ng-click="reset()">reset</button>
        </form>
        
        <h3>form: {{user}}</h3>
        <h3>master: {{master}}</h3>
    </div>

    <script>
        var app= angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.master = {nombre: "juan",apellido: "perez"};
            $scope.reset = function(){
                $scope.user = angular.copy($scope.master);
            };
            $scope.reset();
        });
    </script>

</body>
</html>